.image-uploader-container {
  text-align: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.uploaded-images {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.uploaded-images .image-container {
  display: inline-block;
  margin: 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid grey;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.uploaded-images img {
  object-fit: contain;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.navigation {
  margin-top: 10px;
}

.navigation button {
  margin: 0 10px;
  border-radius: 10px;
}
